
/*=============================================
=            breadcrumb            =
=============================================*/

.breadcrumb-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;

  margin-bottom: 0;

  text-transform: capitalize;

  color: $black--two;

@include respond (large-mobile) {
    font-size: 25px;

    margin-bottom: 15px;
  }
}

.breadcrumb {
  margin: 0;
  padding: 0;

  background-color: transparent;
  .breadcrumb-item {

    position: relative;
    margin-right: 10px;
    padding-right: 12px;

    a {
      font-size: 14px;
      font-weight: 400;

      color: $black--two;

      &:hover {
        color: $theme-color--default;
      }
    }
    &:before {
      bottom: -6px;
      transform: rotate(40deg);
      padding-right: 0;
    }

    &::after {
      top: -6px;
      transform: rotate(-40deg);
    }

    &:before,
    &::after{
      content: "";
      position: absolute;
      right: 0px;
      width: 2px;
      height: 20px;
      background-color: rgb(225, 225, 225);
    }

    &:first-child {
      &:before {
        content: "";
      }
    }

    &.active {
      font-size: 14px;
      font-weight: 400;
      color: $black--three;

      &:before ,
      &::after {
        display: none;
      }
    }
  }
}
/*=====  End of breadcrumb  ======*/

