/*=============================================
=            grid            =
=============================================*/

.custom-container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (min-width: 1680px) {
  .custom-container {
    max-width: 1650px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1270px;
  }
}
@media (min-width: 992px) {
  .shop-content {
    .col-lg-3 {
      max-width: 20%;
    }
    .col-lg-9 {
      max-width: 80%;
    }
    .shop-products {
      .col-lg-3 {
        max-width: 25%;
        padding: 0 5px;
      }
    }
  }
}
/*=====  End of grid  ======*/
