.feedback {
  .my-reviews__inner {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
  }
  .my-reviews__item {
    flex-basis: 25%;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
  }
  .my-reviews__info {
    flex: 1 1 0%;
  }
  .my-reviews__name {
    margin: 15px 0px 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    line-height: 1.38;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .my-reviews__button {
    font-weight: 500;
    font-size: 13px;
    margin: 15px 0px 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: $red;
    border: 0px;
    color: $white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
  }
}
