/*=============================================
=            my account            =
=============================================*/

.my-account-content {
  &__navigation {
    box-shadow: 0 0 4px 0 $grey--eight;

    @include respond(large-mobile) {
      margin-bottom: 30px;
    }

    .nav-link {
      font-weight: 500;

      padding: 12px 20px;

      color: $black--eight;
      border-bottom: 1px solid $grey--nine;
      border-radius: 0;
      &.active {
        background-color: $theme-color--default;
      }
      svg {
        font-size: 25px;

        margin-right: 5px;
      }

      &:hover {
        color: $white;
        background-color: $theme-color--default;
      }
    }
  }

  &__content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 4px 0 $grey--eight;
    .card-header {
      background-color: transparent;
      h3 {
        margin-bottom: 0;
      }
    }

    .table {
      th {
        padding-top: 0;

        border-top: 0;
        border-bottom: 1px;
      }
    }

    form {
      .form-control {
        height: 50px;
      }
    }
  }
}
.form-check-inline {
  .form-check-input {
    //  width: 24px;
    //  height: 24px;
    transform: scale(1.5);
    margin-right: 15px;
  }
}
.required {
  color: red;
}
.address {
  color: $black--two;
  &.new {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    color: #ed5a36;
  }
}

.btn-delete {
  background-color: white;
  border: none;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  color: rgb(255, 66, 78);
}

.slt-city {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  height: 50px;
  padding: 6px 12px;
  line-height: 50px;
  outline: none;
  background: 0px center;
  border-radius: 4px;
  box-shadow: none;
}
.check-input {
  transform: scale(1.5);
  margin: 0px 10px;
}

.card-address {
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
  padding: 10px;
}
/*=====  End of my account  ======*/
.verify {
  .write-review__file {
    position: absolute;
    height: 0px;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
  }
  #file-image-front,
  #file-image-back,
  #file-image-face {
    height: 320px;
  }
}
