.shipping {
    .gPtlxm {
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 10px;
        span {
            color: rgb(0, 127, 240);
            cursor: pointer;
        }
    }
    .jNYLsd {
        padding: 5px 0px 0px;
        color: rgb(51, 51, 51);
        .title {
            font-size: 15px;
            font-weight: bold;
            margin-top: 20px;
        }
        .address-list-text {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.1;
        }
        .address-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0px 0px -20px -20px;
        }
        .hheNUT {
            position: relative;
            flex: 1 0 40%;
            background-color: rgb(255, 255, 255);
            box-shadow: none;
            border-radius: 3px;
            border: 1px dashed rgb(0, 153, 0);
            margin: 0px 0px 20px 20px;
            max-width: calc(50% - 20px);
            padding: 10px 15px;
            .saving-address {
                margin-right: 7px;
                border: 1px solid rgb(85, 86, 73);
                color: rgb(255, 255, 255);
                background: rgb(98, 100, 85) !important;
            }
            .select {
                border: 1px solid $red;
                background: $red !important;
            }
            .default {
                position: absolute;
                top: 10px;
                right: 15px;
                display: block;
                font-size: 11px;
                color: rgb(0, 153, 0);
            }
            .name {
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .name + .address {
                height: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .address {
                font-size: 13px;
                margin-bottom: 3px;
            }
            p {
                margin: 0px 0px 10px;
            }
            .phone {
                font-size: 13px;
                margin-bottom: 10px;
            }
            .action {
                margin-bottom: 0px;

                .edit-address,
                .delete-address {
                    border: 1px solid rgb(204, 204, 204);
                    margin-right: 7px;
                }

                .btn {
                    touch-action: manipulation;
                    cursor: pointer;
                    user-select: none;
                    padding: 6px 14px;
                    text-align: center;
                    white-space: nowrap;
                    border-radius: 2px;
                    outline-color: rgb(204, 204, 204);
                    background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
                    height: 31px;
                    font-size: 12px;
                }
            }
        }
    }
}
