/*=============================================
=            shop            =
=============================================*/

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    select {
      height: 45px;
    }
  }
}

.sorting-icon {
  font-size: 25px;
  line-height: 45px;

  width: 45px;
  height: 45px;
  margin-right: 10px;
  padding: 0;

  text-align: center;

  border: 1px solid $grey--fourteen;
  border-radius: 4px;
  background: none;
  svg {
    margin-bottom: 5px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &.active {
    color: $white;
    border-color: $theme-color--default;
    background-color: $theme-color--default;
  }
}
.ggXoaf {
  max-height: 155px;
  background-image: url(https://www.uplevo.com/img/designbox/anh-bia-facebook-dep-troi-sao.jpg);
  position: relative;
  background-size: cover;
  z-index: 1;
}
.llumpY {
  padding-left: 24px;
  padding-top: 24px;
  display: flex;
  max-height: 91px;
  -webkit-box-align: center;
  align-items: center;
}
.fWUUoC {
  width: 64px;
}

.fWUUoC img {
  border-radius: 100%;
}

.hxfDRr {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-left: 16px;
}
.ckFDVs {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 32px;
  padding-left: 24px;
  margin-left: 24px;
}
.jSQvnW {
  padding: 6px 12px;
  background: transparent;
  border: 1px solid $red;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.ecDJXS {
  margin-right: 4px;
  width: 20px;
  height: 20px;
}
.clGHfU {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.iiJnql {
  display: flex;
  flex-wrap: nowrap;
}
.ljonFq {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 18px 0px;
  cursor: pointer;
  position: relative;
  width: 156px;
  text-align: center;
}
.laZaAe {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  transition: font-weight 0.1s ease-in 0s;
}
.laZaAe::after {
  content: "";
  transition: background-color 0.1s ease-in-out 0s;
  position: absolute;
  bottom: 10px;
  background-color: rgb(255, 255, 255);
  width: 24px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 4px;
  border-radius: 4px;
}
.eeaGij::after {
  content: "";
  transition: background-color 0.1s ease-in-out 0s;
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  width: 24px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 4px;
  border-radius: 4px;
}
.eeaGij {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  transition: font-weight 0.1s ease-in 0s;
}
.fZFSxY {
  width: 300px;
  margin-left: auto;
  margin-right: 24px;
  position: relative;
}
.bWMssZ {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 32px;
  padding-left: 32px;
}
.dmJkSo {
  position: absolute;
  inset: 0px;
  background-color: rgb(36, 36, 36);
  opacity: 0.5;
  pointer-events: none;
  z-index: -3;
}
.iTRSqC {
  color: rgb(255, 255, 255);
  line-height: 24px;
  font-size: 17px;
}
.kyWFPx {
  color: rgba(255, 255, 255, 0.7);
}

.store_info {
  &.iZsHWg {
    display: flex;
    flex-flow: row wrap;
    background: white;
    margin-top: 12px;
    padding: 12px 0px;
    border-radius: 8px;
  }
  .ttJQZ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    width: 640px;
  }
  .ttJQZ > :first-child {
    position: relative;
  }

  .gEOlFQ {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: column;
  }
  .gHZKeE {
    display: flex;
    flex-flow: row wrap;
    background: white;
    padding: 10px 0px;
    -webkit-box-align: center;
    align-items: center;
  }
  .iQtjKm {
    margin-right: 4px;
    font-size: 17px;
  }
  .bMreQR {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 4px;
  }
  .__react_component_tooltip.place-bottom {
    margin-top: 10px;
  }

  .__react_component_tooltip.type-info {
    color: #fff;
    background-color: #337ab7;
  }

  .gDlbsW {
    color: rgb(0, 153, 0);
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    margin-top: 16px;
  }
  .ttJQZ > :first-child::after {
    content: "";
    position: absolute;
    background-color: rgb(242, 242, 242);
    width: 1px;
    text-align: center;
    height: 32px;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
  }
  .gEOlFQ {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: column;
  }
  .lePLBy {
    display: flex;
    flex-flow: row wrap;
    background: white;
    padding-left: 35px;
    width: 600px;
    border-left: 1px solid rgb(242, 242, 242);
  }
  .jdBoVi {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 12px 12px 0px;
    width: 100%;
  }
  .gVnWsx {
    font-size: 16px;
    color: rgb(120, 120, 120);
    margin-left: 5px;
    line-height: 20px;
    width: 180px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    svg {
      font-size: 20px;
    }
  }
}

.store-products {
  padding: 0 15px;
  .grid-products {
    flex: 0 0 80%;
    @media (min-width: 992px) {
      .grid .col-lg-3 {
        max-width: 25% !important;
      }
      .list .col-lg-3 {
        max-width: 100% !important;
      }
    }
  }
}
/*=====  End of shop  ======*/
